:root {
  // theme
  --primary-color: #fed700;
  --secondary-color: #536390;

  // font
  --font-color: #333e48;
  --bg-color: #fff;
  --heading-color: #292922;

  // basics
  --white: #fff;
  --black: #000;

  // grey
  --gris-9: #1a202c;
  --gris-8: #2d3748;
  --gris-7: #4a5568;
  --gris-6: #718096;
  --gris-5: #a0aec0;
  --gris-4: #cbd5e0;
  --gris-3: #e2e8f0;
  --gris-2: #edf2f7;
  --gris-1: #f7fafc;
  //// hover
  --gris-8-hover: #1e252b;
}
